name: Build
on:
  workflow_dispatch:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'
      - 'CODEOWNERS'
      - '.github/dependabot.yaml'
      - '.m2/**'

jobs:
  build-and-push:
    name: Build and push
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      id-token: write
      actions: read
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'
      - run: mvn package -e -B -s .m2/maven-settings.xml
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push image and SBOM to OCI registry
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: infotrygd

  deploy-dev:
    name: Deploy til dev-fss
    if: (github.ref == 'refs/heads/main' && github.event_name == 'push') || github.event_name == 'workflow_dispatch'
    environment: dev-fss:infotrygd
    needs: build-and-push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Deploy til dev-fss
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-fss
          RESOURCE: .deploy/nais/nais_dev.yaml
          IMAGE: ${{ needs.build-and-push.outputs.image }}

  deploy-prod:
    name: Deploy til prod-fss
    if: github.ref_name == 'main'
    environment: prod-fss:infotrygd
    needs: [build-and-push, deploy-dev]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - name: Deploy til prod-fss
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-fss
          RESOURCE: .deploy/nais/nais_prod.yaml
          IMAGE: ${{ needs.build-and-push.outputs.image }}
